.play {
    width: 100%;
    max-width: 800px;
    border: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
}

.btnWrap {
    width: 100%;
    display: flex;
}

.btnWrap button {
    width: 33.3%;
    background-color: white;
}

.tryAnswerWrap {
    width: 100%;    
    display: flex;
}
.tryAnswerWrap span{
    display: inline-block;
    box-sizing: border-box;
    border: 1pz solid gray;
    width: 10%;
}
.tryAnswerWrap input{
    width: 80%;
}
.tryAnswerWrap button{
    width: 10%;
}
.tdhead {
    background-color: red;
    color: white;
}