/* reset  */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*realCSS*/

/*暫存，要刪除或換位置*/

.footerBanner img {
    width: 100%;
}

.recommend img {
    width: 100%;
}

/*all*/

a {
    color: black;
    font-size: 16px;
    line-height: 30px;
}

/*header*/

header {
    position: fixed;
    width: 100%;
    top: 0;
}

.headerHealper {
    display: none;
}

@media screen and (min-width:992px) {
    .headerHealper {
        width: 100%;
        height: 50px;
        background-color: black;
        display: flex;
        display: block;
        text-align: right;
    }
    .headerHealper .wrap {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .headerHealper .langue {
        display: inline-block;
        margin-right: 0;
    }
    .headerHealper .langueIcon {
        padding-right: 20px;
        border-right: #fff solid 1px;
    }
    .headerHealper ul, .headerHealper li {
        margin-top: 5px;
        justify-content: center;
        display: inline-block;
        padding: 0px;
        margin: 10px;
        margin-right: 0;
    }
    .headerHealper a {
        line-height: 10px;
        margin: 0;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
    }
    .headerHealper a:hover {
        color: #0080FF;
        text-decoration: none;
    }
}

.headerService {
    display: block;
    width: 100%;
    align-items: center;
    height: 60px;
}

.headerService .wrap {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.headerService logo {
    width: 20%;
    text-align: right;
    padding-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.headerService logo {
    vertical-align: middle;
}

.headerService img {
    display: inline-block;
    width: 150px;
    align-self: center;
}

.headerService ul {
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-grow: 1;
}

.headerService li {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 10px;
    padding-top: 10px;
    height: 60px;
}

.headerService li:hover {
    border-bottom: 3px solid #2828FF;
}

.headerService li a {
    color: #4F4F4F;
    font-size: 10px;
}

.headerService li:hover a {
    color: #2828FF;
}

.headerService li:hover i {
    color: black;
}

.headerService li:hover {
    color: #0080ff;
}

.headerService li i {
    font-size: 1px;
}

.headerButton {
    width: 20%;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

.button {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
    font-size: 10px;
    padding: 10px;
    background-color: #0066CC;
    border-radius: 30px;
    text-decoration: none;
}

.button:hover {
    background-color: #004B97;
}

/*article*/

article {
    margin-top: 60px;
}

@media screen and (min-width:992px) {
    article {
        margin-top: 110px;
    }
}

article .headerBanner {
    width: 100%;
    background-color: blue;
    padding: 0;
    background: url("https://img.shoplineapp.com/media/image_clips/5f069a12dc4d9a00335656c2/original.png?1594268177") no-repeat center/auto 100%;
}

/*headerBanner*/

.headerBanner .row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.headerBanner imgcol {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.headerBanner img {
    width: 100%;
}

.headerBanner .intro {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
}

.headerBanner h1 {
    color: #fff;
    font-size: 25px;
    line-height: 40px;
}

.headerBanner h2 {
    color: green;
    font-size: 25px;
    line-height: 40px;
}

.headerBanner p {
    text-align: left;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    font-weight: 100;
    padding-bottom: 30px;
}

.headerBanner .email {
    display: block;
    height: 30px;
    width: 100%;
    font-size: 100%;
    color: #fff;
    background: unset;
    border: none;
    border-bottom: #fff 1px solid;
    margin-bottom: 20px;
}

.headerBanner .button {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    background-color: #0066CC;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 20px;
}

.headerBanner .button:hover {
    background-color: #004B97;
}

/*mainServices*/

/*mainServices-title*/

.mainServices {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 992) {
    .toReverse>.row:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

.mainServices .pic {
    box-sizing: border-box;
    align-items: center;
}

.mainServices .title {
    align-items: center;
}

.mainServices h3 {
    color: #000;
    font-size: 25px;
    line-height: 35px;
    padding: 20px 0;
    text-align: center;
}

.mainServices p {
    text-align: center;
    line-height: 25px;
}

/*mainServices-package*/

.mainServices .package-item {
    padding-bottom: 25px;
    border-bottom: solid 1px gray;
}

.mainServices .package-item:last-child {
    border-bottom: none;
}

.mainServices .package img {
    margin-top: 20px;
    width: 100%;
}

.mainServices .package h3 {
    text-align: left;
    font-weight: bold;
}

.mainServices .package p {
    margin-top: 20px;
    text-align: left;
}

.mainServices .package .wave {
    padding: 0;
    margin: 0;
    color: orange;
    font-size: 20px;
    text-align: left;
}

.mainServices .package ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainServices .package li {
    display: inline-block;
    width: 100%;
    line-height: 30px;
}

.mainServices .package li i {
    font-size: 5px;
    line-height: 20px;
    background-color: #84C1FF;
    color: #0072E3;
    border-radius: 100%;
}

.mainServices .package .detail a {
    display: inline-block;
    margin-top: 30px;
    color: #0072E3;
    font-weight: bold;
    text-decoration: none;
}

/*article-moreServices*/

.moreServices {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(219, 219, 219);
}

.moreServices .wrap {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.moreServices .package-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

.moreServices h3 {
    font-size: 30px;
    padding: 30px 0;
}

.moreServices .circle {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
}

.moreServices img {
    width: 70%;
    margin: auto;
}

.moreServices h4 {
    font-size: 20px;
    line-height: 40px;
}

.moreServices .package-item p {
    font-style: 15px;
    line-height: 30px;
    width: 100%;
    text-align: left;
}

/*article-recommend*/

.recommend {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

@media screen and (min-width:998px) {
    .recommend {
        width: 100%;
        margin: 0;
    }
    .recommend>.container>.row {
        flex-direction: row-reverse;
    }
}

.recommend h3 {
    width: 100%;
    font-size: 30px;
    padding: 40px 0;
    text-align: center;
    font-weight: bold;
}

.recommend span {
    color: #0066CC;
}

.recommend-logo {
    display: none;
}

.recommend .pic, .recommend .recommend-say {
    padding: 0;
}

.recommend-say a {
    display: block;
    color: blue;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recommend-say p {
    height: 10vh;
}

.recommend-btn {
    margin: 20px 0;
}

.recommend-btn i {
    color: #ccc;
}

.recommend-btn i:hover {
    color: blue;
}

/*footer*/

footer {
    width: 100%;
    background-color: #04012e;
}

.footerNav {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

footer .package {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ccc;
}

footer .package:first-child {
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

footer h3 {
    font-size: 15px;
    line-height: 40px;
    font-weight: normal;
    color: #fff;
}

@media screen and (max-width:987px) {
    footer ul li a {
        display: none;
    }
}

footer ul li a {
    color: rgb(233, 233, 233);
    text-decoration: none;
    font-size: 10px;
}

.covid19 {
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.covid19 a {
    display: block;
    background-color: #ccc;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
}

@media screen and (min-width:988px) {
    footer .line {
        display: block;
        width: 80%;
        border-bottom: 1px solid #ccc;
        justify-content: space-between;
        padding-top: 30px;
        margin: 0 auto;
    }
    .footerNav {
        width: 80%;
    }
    footer .package {
        width: 90%;
        border-bottom: 0px;
    }
    footer .package:first-child {
        margin-top: 0px;
        border-top: 0px;
    }

    .covid19 {
        width: 80%;
    }
    
    .covid19 a {
        display: block;
        background-color: #ccc;
        width: 20%;
        margin-right: 10px;
        text-align: center;
        text-decoration: none;
    }
}