/* header */
.container{
    max-width: 1980px;
    margin: auto;
}
header {
    text-align: center;
}
header img{
    width: 300px;
}

/*註冊*/
/* 整版大小 */
.storeRegisterContainer{
    min-width: 375px;
    max-width: 1900px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;    
}
.storeRegisterRow{
    margin: 0;
}
/* 說明欄 */

.illustrate {
    margin-top: 5px;
    margin-bottom: 5px;
}



/* 表單欄 */

.register {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;    
}

.register h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.register .firstNameDiv {
    padding-right: 0;
    padding-bottom: 0;
}

.register .secondNameDiv {
    padding-left: 0;
    padding-bottom: 0;
}

p a {
    color: green;
}

#submitBtn{
    margin-top: 10px;
    margin-bottom: 10px;
}


/*註冊RWD*/
/* 背景圖設定 */
@media screen and (min-width:768px) {
    .backgroundIMG {
        background-image: url(register.jpg);
        background-size: cover;
        height:calc(85vh - 133.975px) ;
    }

    .register {
        background-color: white;
        padding: 20px;
    }
    .storeRegisterRow{
        padding-left: 5%;
        padding-right: 5%;
    }
    .storeRegisterRow .illustrate {
        display: flex;
    }
    .illustrateDetail{
        margin-top: auto;
        margin-bottom: auto;
        color: white;
    }
}



/*footer*/
footer{
    margin: 0;        
    background-color: rgb(49,75,88);
    color: #fff;
    position:absolute;
    left: 0;
    width: 100%;
    bottom: auto;        
}
.privacy a{
    padding-left: 10px;
    text-decoration: none;
    color: #fff;
}
.privacy a:first-child{
    padding-right: 10px;
    border-right: 1px solid #fff;
}

/*footer RWD*/
@media screen and (min-width:768px) {
    footer{
        padding: 50px 0;
        bottom: 0;
        height: 15vh;
    }
    .footer-body{
        display: flex;
        justify-content: space-between;
    }
}